<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neo-Tech</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    <form class="form">
        <h1>Iniciar sesión</h1>
        
        <div class="social-login">
            <div class="social-login-element">
                <img src="/public/img/google.svg" alt="google-image">
                <span>Google</span>
            </div>
            <div class="social-login-element">
                <img src="/public/img/facebook.svg" alt="facebook-image">
                <span>Facebook</span>
            </div>
        </div>


        <div class="contenedor">
            <div class="input-contenedor">
                <i class="fas fa-envelope icon"></i>
                <input type="e-mail" placeholder="Correo electrónico">               
            </div>

            <div class="input-contenedor">
                <i class="fas fa-key icon"></i>
                <input type="password" placeholder="Contraseña">             
            </div>
            
            <input type="submit" value="Iniciar sesión" class="button">

            <p>Al registrarte aceptas nuestras Condiciones de uso y Política de privacidad.</p>

            <p>¿No tienes cuenta?</p>
            
            <a class="button" href="/views/registro.html">Crear cuenta</a>
          
        </div>
    </form>
    
</body>
</html>