.body__admin {
  background: linear-gradient(rgb(228, 228, 228), white);
  font-family: 'Roboto', sans-serif;
  height: 100%;
  padding: 8rem  1rem;
  width: 100%;
}

h4 {
  margin-bottom: 2rem;
  margin-top: 2rem;
  text-align: center;
}

hr {
  background: linear-gradient(90deg, rgb(24,24,24), white);
  height: 2px;
  margin-bottom: 1.8rem;
  width: 100%;
  border: none;
}

.admin__product {
  background: linear-gradient(lightgrey, white);
  border-radius: 10px;
  margin: 0 auto;
  width: 100%;
  height: fit-content;
  height: -moz-fit-content;
  padding: 1rem;
}

.textarea__adm {
  border-radius: 10px;
  margin: 0;
  width: 100%;
  height: fit-content;
  height: -moz-fit-content;
  padding: 1rem;
}

.form__admin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.admin__box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}  /* REVISAR ESTO */

.admin__box h5 {
  margin-bottom: 1rem;
}

.body__admin .imagen__admin {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

/* FORM INPUT */
.input__file-container {
  background-color: white;
  border-radius: 1rem;
  height: 2.5rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 100%;
}

.admin__carga {
  display: flex;
  flex-direction: column;
}


























.input-container,
.button-container {
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem;
  width: 100%;
}

input.input-style {
  color: grey;
  border: none;
  border-radius: 1rem;
  height: 2.5rem;
  padding: 0.5rem;
}

input.input-style::placeholder {
  color: lightgray;
}

select.input-select {
  border: none;
  border-radius: 1rem;
  height: 2.5rem;
  padding: 0.5rem;
}

input.input-style:focus,
select.input-select:focus {
  box-shadow: 0 0 6px white;
  outline: none;
}

label {
  font-size: 0.9rem;
}

/* Botones */

.button-container {
  align-items: center;
}

.btn {
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  height: 2.5rem;
  text-transform: uppercase;
  width: 8rem;
}

.btn-submit {
  background: linear-gradient(45deg, rgba(255,255,255,0.8)0%, rgba(39,255,232,0.5) 50%);
  color: rgb(75,75,75);
  font-weight: bold;
  transition: all 1s ease;
}

.btn-submit:hover {
  color: rgb(172, 172, 172);
  box-shadow: -5px -5px 10px rgb(255, 255, 255, 0.7);
  background: linear-gradient(285deg, rgba(255,255,255,0.5) 0%,  rgba(39,255,232,0.5) 50%);
}


.btn-reset {
  background:  linear-gradient(45deg, rgba(255,255,255,1) 0%,  rgba(39, 151, 255, 0.5) 50%);
  color: rgb(75, 75, 75);
  font-weight: bold;
  transition: all 1s ease;
}

.btn-reset:hover {
  color: rgb(172, 172, 172);
  box-shadow: -5px -5px 10px rgb(255, 255, 255, 0.7);
  background: linear-gradient(285deg, rgba(255,255,255,0.5) 0%,  rgba(39, 151, 255, 0.5) 50%);
}

.btn-edit {
  background:  linear-gradient(45deg, rgba(255,255,255,1) 0%,  rgba(43, 236, 124, 0.5) 50%);
  color: rgb(75, 75, 75);
  font-weight: bold;
  transition: all 1s ease;

}

.btn-edit:hover {
  color: rgb(172, 172, 172);
  box-shadow: -5px -5px 10px rgb(255, 255, 255, 0.7);
  background: linear-gradient(285deg, rgba(255,255,255,0.5) 0%,  rgba(43, 236, 124, 0.5) 50%);
}


.body__admin .button-container {
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 0;
  gap: 10px;
}



/* Media queries */
/* Tablet */

@media screen and (min-width: 475px) {
  .input-container,
  .button-container{
      width: 90%;
  }
  .admin__product {
      width: 75%;
  }
  .body__admin .imagen__admin {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
  }  
}

@media screen and (min-width: 768px) {
  .input-container,
  .button-container{
      width: 80%;
  }
  .admin__product {
    width: 90%; 
  }
  .textarea__adm {
    width: 400px;
  }
  .body__admin .imagen__admin {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    align-items: center;
  } 
  .body__admin .input__file-container {
    max-width: 300px;
} 
}




/* Desktop */
@media screen and (min-width: 1200px) {
  .body__admin .input__file-container {
      max-width: 300px;
  }
  .admin__product {
      width: 90%;
  }
  .admin__carga {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;    
  }
  .body__admin .button-container {
      flex-direction: row;
      margin-top: 2rem;
      gap: 20px;
      justify-content: center;
  }
  .body__admin .imagen__admin {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    align-items: center;
  }  
}