.footer {
  width: 100%;
  height: 300px;
  background-color: #070d2b;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 50px;
}

.footer-icon-container {
  order: -1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 60px;
}

.footer-icon {
  width: 40px;
  height: 40px;
}

.footer .list-container {
  margin-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  margin: auto;
}

.footer .list {
  width: 100%;
  height: 100%;
  margin: 0 0 5px 20px;
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
}

.footer .info li {
  text-align: left;
  color: white;
  line-height: 30px;
  list-style: none;
  font-size: 0.8rem;
}

.list h4 {
  color: white;
  text-align: left;
  margin-top: 10px;
  font-weight: normal;
  font-size: 1rem;
  text-align: left;
}

.footer .list p {
  text-align: left;
  padding-left: 10px;
  font-size: 1rem;
  font-weight: bold;
}

.footer .logo {
  display: none;
}

@media screen and (min-width: 1024px) {
  .footer {
    width: 100%;
    height: 200px;
    background-color: #070d2b;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .footer .list-container {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
  }
  .footer .list {
    width: 20%;
    height: 100%;
    margin: 0 30px 0 0px;
  }
  .footer .info li {
    font-size: 1rem;
  }
  .list:first-child {
    margin-left: 40px;
  }
  .footer-icon-container {
    order: 2;
    width: 30%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    position: relative;
  }
  .footer-icon {
    width: 50px;
    height: 50px;
    padding-bottom: 10px;
  }
  .footer .logo {
    display: initial;
    width: 100%;
    position: absolute;
    top: 40px;
    height: fit-content;
    text-align: center;
  }
}