@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --clarito: #eaeaea;
  --blanco: #ffffff;
  --gris: #aaa;
  --negro: #000000;
  --naranja: #ff6000;
  --azulOscuro: #070d2b;
  --blue: rgb(0, 100, 240);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 3.4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}
