.contenedor {
    width: 100%;
    padding: 15px;
}

body {
    background-color: #f5ebe4;
}

h1 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.form {
    margin-top: 150px;
    padding: 3px;
    font-weight: 500;
    background-color: white;
}
 
input[type="text"], input[type="e-mail"], input[type="password"] {
    font-size: 15px;
    width: 82%;
    padding: 10px;
    border: none;
}

.input-contenedor {
    margin-bottom: 15px;
    border: 1px solid #aaa;
}

.icon {
    min-width: 50px;
    text-align: center;
    color: #999;
}

.button {
    border: none;
    width: 100%;
    background-color: #ff6000;
    color: white;
    font-size: 15px;
    padding: 10px 18px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.button:hover {
    background: black;
}

p {
    text-align: center;
    font-weight: 400;
    font-size: 13px;
}

a {
    font-size: 15px;
}

.link {
    text-decoration: none;
    font-weight: 400;
}

@media (min-width: 768px) {
    .form {
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
}