.contenedor {
    width: 100%;
    padding: 15px;
}

body {
    background-color: #EAEAEA;
    height: 100vh;
}

h2 {
    text-align: center;
    font-weight: bold;
}

.form {
    margin-top: 1.5rem;
    padding: 1rem;
    font-weight: 500;
    background-color: #ffffff;
}

.social-login {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 0.5rem;
    background-color: #ffffff;
}
 
input[type="text"], input[type="e-mail"], input[type="password"] {
    font-size: 1.5rem;
    width: 82%;
    padding: 1rem;
    border: none;
}

.input-contenedor {
    margin-bottom: 1.5rem;
    border: 0.10rem solid #aaa;
}

.icon {
    min-width: 5rem;
    text-align: center;
    color: black;
}

.button {
    border: none;
    width: 100%;
    background-color: #ff6000;
    color: white;
    font-size: 1.5rem;
    padding: 1rem 1.8rem;
    border-radius: 0.50rem;
    cursor: pointer;
    font-weight: bold;
    transition: all 1s;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255. 0.3);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);
}

.button:hover {
    background-color: #070D2B;
}

p {
    text-align: center;
    font-weight: 400;
    font-size: 1.4rem;
}

a {
    font-size: 1.5rem;
}

.link {
    text-decoration: none;
    font-weight: 400;
}

@media (min-width: 768px) {
    .form {
        margin: auto;
        width: 45rem;
        margin-top: 10rem;
        border-radius: 2%;
    }
}