body {
    background-color: #F9F9F9;
}

main.container {
    text-align: center;
    margin: auto; 
}

main.container .table {
    margin: 0 auto auto;
    top: 0;
    background-color: white;
    max-width: 980px;
}

.text-end {
    padding: 20px;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.btn-secondary {
    padding: 10px;
    width: 120px;
    background-color: #c4c4c4;
    border: 1px solid #b1b1b1;
    text-decoration: none;
    color: black;
}

svg.btn-editar {background-color: yellow;
    position: relative;
    right: 5px;
    top: 5px;
}

.btn-danger {
    background-color: red;
}

.buttons-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addCategoryText {
    cursor: pointer;
}

.addCategory {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.addCategory input {
    text-align: center;
    width: 80%;
    margin: auto;
    height: 40px;
    border: 1px solid gray;
    border-radius: 5px;
}
 .products-category-container{
    margin: 0px auto;
    width: 350px;
    text-align: left;
    background-color: #fff;
    height: auto;
    max-height: 550px;
    position: relative;
}
.formDeleteCategory {
    margin-top: -20px;
}
.buttonDeleteCategory {list-style: none;
text-decoration: none;
cursor: pointer;
position: absolute;
right: 10px;
background-color: white;
border: none;}
.deleteCategoryX{

font-size: 1.3rem;
color: red;
}

.deleteCategoryX:hover{
 -webkit-transition: 1s;
 -webkit-transform: rotate(360deg);
}
.deleteCategoryX:hover > .deleteCategoryText{
    display: block;
}
.buttonAddProduct {
    width: 180px;
    height: 50px;
    border: 1px solid #ff6000;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;
    border-radius: 5px;
}

.buttonAddProduct:hover{
        background-color: #ff6000;
        transform: .5s;
        opacity: 1;
    
}
.buttonAddProduct a .P{
    color:  black;
    font-size: 1rem;
    text-decoration: none;
}
.buttonAddProduct a .P:hover{
    color: white;
}