.productDetail {
  background-color: var(--clarito);
}

/*---------------------scrollbar------------------*/

.productDetail::-webkit-scrollbar {
  width: 9px;
}

.productDetail::-webkit-scrollbar-thumb {
  background-color: #070d2b;
  border-radius: 5px;
  border: 1px solid white;
}

/*-------------fotos de producto-------------------*/

.container1 {
  background-color: var(--blanco);
  width: 100%;
  display: flex;
  height: 500px;
}

ul.fotoMiniatura {
  position: relative;
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
}

ul.fotoMiniatura li {
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s;
  background: var(--blanco);
}

ul.fotoMiniatura li img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

ul.fotoMiniatura li:first-child {
  opacity: 0;
}

ul.fotoMiniatura li:target {
  opacity: 1;
}

.fotoProducto {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.fotoProducto .foto2 {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.fotoProducto .foto {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.fotoProducto li a img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

ul.fotoMiniatura li {
  padding: 10px;
  margin: 0;
  list-style: none;
  width: 100%;
  height: 100%;
}

ul.fotoProducto li {
  width: 100%;
  height: 25%;
}

/*-------agregar al carrito-----*/

.agregar-carrito-der {
  text-align: center;
  background-color: var(--blanco);
  padding: 3px;
}

#boton-detalle {
  border-bottom: var(--negro);
  background-color: var(--naranja);
  height: 40px;
  width: 50%;
  margin-top: 2rem;
}

a.text-agr-car {
  display: block;
  text-decoration: none;
  color: blue;
}

.text-agr-car {
  margin: 0 0 0.5em 0;
}

.text-agr-car2 {
  margin: 2em 0 2em 0;
  font-weight: 500;
}

.boton-d {
  text-decoration: none;
  color: var(--blanco);
}

/*-----descripción producto-----*/

.detalle-producto1 {
  width: 80%;
}

div.texto-detalle ul li {
  padding-top: 1em;
  padding-left: 1em;
}

.destacado {
  margin: 0.5em;
}

p.p-destacado {
  margin-left: 0.5rem;
  text-align: left;
}

/*----------------hacer comentarios--------*/

.comentarios {
  width: 90%;
  margin: 1em;
}

#comentarios1 {
  font-weight: 700;
  align-items: center;
  display: flex;
  margin: 0 0 1rem 0;
}

.botcomentario {
  border-bottom: var(--negro);
  background-color: var(--naranja);
  height: 3rem;
  width: 5rem;
}

.comentarioletra {
  color: var(--blanco);
}

#mensaje {
  width: 70%;
  height: 40px;
}

#comentarios {
  align-items: center;
}

.comentarioletra {
  color: var(--blanco);
}

/*--------comentarios destacados-------*/

.seccioncomentarios {
  border: solid 2px var(--gris);
  background-color: var(--blanco);
  width: 90%;
  max-height: 1000px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.comentariosuser {
  border-bottom: solid 0.5px darkgrey;
  width: 100%;
  display: flex;
  height: 50px;
}

.user {
  width: 10%;
  display: flex;
  padding: 0.5em;
}

.usercom {
  width: 90%;
  display: flex;
  text-align: center;
  margin: 1em;
}

.textcomentario {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/*----------------productos----------*/

@media screen and (min-width: 782px) {
  .productDetail {
    background-color: var(--clarito);
  }
  .mainDetalleProducto {
    display: flex;
    width: 90%;
    margin-left: 50px;
  }
  .pantalla-dividida {
    display: flex;
    width: 70%;
    background-color: var(--azulOscuro);
    padding: 10px;
  }
  .pantalla-dividida2 {
    display: flex;
    width: 20%;
    background-color: var(--blanco);
  }
  .agregar-carrito-der {
    display: flex;
    flex: 100%;
    text-align: center;
    background-color: var(--blanco);
  }
  .agregar-carrito {
    flex: 100%;
  }
  #boton-detalle {
    border-bottom: var(--negro);
    background-color: var(--naranja);
    width: 70%;
    margin-top: 3em;
  }
  a {
    text-decoration: none;
    color: blue;
  }
  .text-agr-car {
    margin: 2rem 0 2rem 0;
  }
  .text-agr-car2 {
    margin: 1rem 0 1rem 0;
  }
  .boton-d {
    text-decoration: none;
    color: var(--blanco);
  }
  /*--------descripcion de producto--------*/
  .detalle-producto1 {
    width: 60%;
  }
  div.texto-detalle ul li {
    padding-top: 1em;
    padding-left: 2em;
  }
  .destacado {
    font-weight: 400;
    margin: 1em;
  }
  p.p-destacado {
    margin-left: 2rem;
  }
  .comentarios {
    width: 70%;
  }
  #comentarios {
    align-items: center;
  }
  .botcomentario {
    border-bottom: var(--negro);
    background-color: var(--naranja);
  }
  #comentarios {
    align-items: center;
  }
  .comentarioletra {
    color: var(--blanco);
  }
  /*comentarios de usuarios*/
  .seccioncomentarios {
    width: 75%;
    margin: 0 0 0 1em;
  }
}

@media screen and (min-width: 1024px) {
  .pantalla-dividida2 {
    display: flex;
    width: 30%;
    background-color: var(--blanco);
  }
  .agregar-carrito-der {
    display: flex;
    flex: 100%;
    text-align: center;
    background-color: var(--blanco);
  }
  #boton-detalle {
    border-bottom: var(--negro);
    background-color: var(--naranja);
    width: 60%;
    margin-top: 2.5rem;
  }
  .text-agr-car {
    margin: 2rem 0 2rem 0;
  }
  .text-agr-car2 {
    margin: 2rem 0 2rem 0;
  }
}