.carrito {
  background-color: #f1f1f1;
  margin: 0;
}

.cart,
.resumen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.elemento {
  background-color: white;
  padding-bottom: 10px;
  border: 1px solid darkgray;
}

.resumen {
  display: flex;
  padding: 15px;
  border-style: double;
  background-color: white;
  margin-top: 15px;
}

.resumen select {
  padding: 1px;
  width: 50%;
  flex-direction: column;
  align-content: center;
  margin-top: 7px;
  justify-content: center;
}

.caja img {
  width: 120px;
  text-align: center;
}

.carrito p {
  font-size: 1rem;
}

.cantidad {
  max-width: 5%;
  margin: auto;
  justify-content: center;
}

.cantidad button:first-child {
  border-radius: 5px 0 0 5px;
}

.cantidad button {
  border-radius: 0 5px 5px 0;
  background-color: lightgray;
  border: none;
  font-size: 10px;
  padding: 8px 10px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.cantidad,
.cantidad button {
  align-items: center;
  display: flex;
  justify-content: center;
}

.cantidad button,
.cantidad input {
  height: 30px;
  width: 30px;
  margin: 0;
}

.caja i {
  justify-content: center;
}

.precio {
  text-align: center;
  font-weight: 700;
}

.btn-ingresar {
  border: 2px solid;
  background-color: #ff6000;
  padding: 10px;
  margin: 10px;
  color: white;
  font-weight: 700;
  float: right;
}

#opciones {
  align-self: center;
}

@media screen and (min-width: 564px) {
  .cart {
    padding: 20px 10%;
  }
}

@media screen and (min-width: 1024px) {
  .cart {
    flex-direction: row;
    margin-top: 50px;
    padding: 0 40px 0 40px;
  }
  .cantidad {
    margin: auto;
  }
  .elemento {
    margin-left: auto;
  }
  .caja {
    text-align: center;
    display: flex;
    padding: 20px;
  }
  .caja p {
    align-items: center;
    white-space: pre-wrap;
    max-width: 30%;
    justify-content: center;
    margin: auto;
  }
  .caja img {
    width: 100px;
    margin: auto;
  }
  hr {
    width: 90%;
  }
  .pedido {
    display: flex;
    justify-content: space-between;
    background: lightgrey;
    margin: 30px 0px 10px 0px;
    padding: 0px 10px 0px 10px;
    font-weight: 800;
  }
  .caja i {
    margin: auto;
  }
  .precio {
    margin: auto;
  }
  .resumen {
    padding: 0;
    margin-right: auto;
    margin-left: 40px;
    width: 450px;
    margin-top: 0;
  }
}