#products-results .products-cartAll {
    width: 90%;
    height: 160px;
    background-color: white;
    margin: auto;
    margin: 2px auto;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.productNotFound {
    font-size: 2rem;
    font-weight: 600;
}

.resultsTextContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addCategory {
    display: none;
}