<%- include('./partials/head')%>

    <body class="body__admin">
        <!----------------------------------------------------->
        <%- include('./partials/header')%>
            <!------------------------------------------------------->

            <div class="admin__product">
                <h4 class="ad">Administración de productos</h4>
                <hr>
                <form action="" method="">

                    <div class="admin__box">
                        <div class="imagen__admin">
                            <div class="input__file-container">
                                <input type="file" name="" id="">
                            </div>
                            <div class="input__file-container">
                                <input type="file" name="" id="">
                            </div>
                            <div class="input__file-container">
                                <input type="file" name="" id="">
                            </div>
                            <div class="input__file-container">
                                <input type="file" name="" id="">
                            </div>
                        </div>
                    </div>

                    <div class="admin__carga">
                        <div class="admin__box">
                            <div class="input__container">
                                <input class="input__style" type="text" name="name" placeholder="Producto">
                            </div>

                            <div class="input__container">
                                <textarea class="textarea__adm" name="textarea" rows="15" cols="50">Descripción del producto</textarea>
                            </div>
                        </div>

                        <div class="admin__box">
                            <div class="input__container">
                                <select name="caetgoria" class="input__select">
              <option value="" hidden selected>Categorias</option>
              <option value="ofertas">Ofertas</option>
              <option value="notebook">Notebook</option>
              <option value="computadoras">Computadoras</option>
              <option value="celulares">Celulares</option>
              <option value="accesorios">Accesorios</option>
              <option value="televisores">Televisores</option>
              <option value="consolas">Consolas</option>
              <option value="combos">Combos</option>
              <option value="tablet">Tablet</option>
              <option value="impresoras">Impresoras</option>
            </select>
                            </div>

                            <div class="input__container">
                                <select name="subcategoria" class="input__select">
              <option value="" hidden selected>Descuento</option>
              <option value="10">10%</option>
              <option value="20">20%</option>
              <option value="25">25%</option>
              <option value="30">30%</option>
              <option value="35">35%</option>
              <option value="40">40%</option>
            </select>
                            </div>

                            <div class="input__container">
                                <input class="input__style" type="text" name="marca" placeholder="Marca">
                            </div>

                            <div class="input__container">
                                <input class="input__style" type="text" name="codigo" placeholder="Código">
                            </div>

                            <div class="input__container">
                                <input class="input__style" type="text" name="color" placeholder="Color">
                            </div>
                            <div class="input__container">
                                <input class="input__style" type="number" name="precio" placeholder="Precio">
                            </div>
                        </div>
                    </div>

                    <div class="button__container">
                        <button type="reset" class="btn btn__reset">Reset</button>
                        <button type="submit" class="btn btn__edit">Guardar</button>
                    </div>
                </form>
            </div>

            <%- include('./partials/footer')%>

    </body>

    </html>