<%- include('./partials/head')%>

    <body class="formas-pago">

        <%- include('./partials/header')%>


            <div class="metodos-pago">
                <div class="instrucciones-pago">
                    <p>En esta guía te explicamos, paso a paso, cómo realizar el registro de usuario, una compra de un producto y los distintos metodos para llevar a cabo dicha compra de forma satisfactoria en nuestro sitio:</p>
                    <h3>Registro de usuario</h3>
                    <p>Para hacer cualquier tipo de cambio comercial, por este medio, deberás inicialmente registrate como usuario y haber leído las condiciones de uso de la página.</p>
                    <p>El registro lo podrás hacer en la esquina superior derecha del sitio, la opción “Usuario”.</p>
                    <p>Posteriormente, deberás ingresar todos tus datos. Estos deberán ser reales y cumplir con las características dispuestas en las condiciones de uso.</p>
                    <h3>Compra de producto individual</h3>
                    <p>Si estás interesado en productos individuales y separados, podrás escogerlos uno por uno añadiendolos al carrito de compras, al cual se puede acceder al lado del icono de "Usuario". Para finalizar la compra en el carrito asta con hacer
                        click "Comprar".</p>
                    <h3>¿Cómo pagar?</h3>
                    <p>Al finalizar tu compra, después de haber tocado el botón, tendrás que verificar que todos los artículos que seleccionaste estén en orden y en las cantidades correctas. Si tienes un cupón de descuento, este es tu momento de hacer uso
                        de él en el espacio destinado para ello.</p>
                    <h3>Formas de pago:</h3>
                    <p>-Pago en efectivo en el local: mediante esta opción habrás apartado el producto por 24 horas en las cuales tendrás que retirarlo y abonar en efectivo. Debe venir la persona/usuario registrado en la página con su DNI. En su defecto,
                        el Usuario deberá autorizar a otra persona para retirar y abonar la compra especificando sus datos. Este también deberá traer su documento para retirar la compra.</p>
                    <p>-Pago por transferencia: después de verificar que todos sus datos sean correctos, incluyendo la modalidad de envío, deberá solicitar mediante un correo a <a href="#">ventas@neotech.com.ar</a> los datos para la transferencia. El correo
                        deberá especificar el número de pedido.</p>
                    <p>-Pago por Mercado Pago: a través de este medio es que podrás realizar tus compras con tarjeta de crédito. Los planes de financiación, cuotas e intereses son a través de <a href="https://www.mercadopago.com.ar/">www.mercadopago.com.ar</a>.
                        Todas las compras bajo esta modalidad tienen un recargo del 10%.</p>
                    <h3>Métodos de envío</h3>
                    <p>-Retiro en local: no tiene costo extra. Si vas a pagar en el local, tu producto se apartará un plazo de 24h hábiles. Si utilizaste otro medio de pago y no puedes retirarlo de inmediato, deberás comunicarte con nosotros y notificarlo.</p>
                    <p>-Cadete privado: este solo hace entregas dentro de BS.AS y para calcular el precio, deberás llamar 11 2233-4455.
                    </p>
                    <p>-Envío por OCA: puede este ser a sucursal o a domicilio. El monto se calculará automáticamente de acuerdo a la distancia y dimensiones de tu orden.</p>
                    <p>Al finalizar la compra, se generará tu orden de pedido y te enviaremos un correo con la información de tu compra. Deberás revisarlo y reportar solo si hay algo inusual.</p>
                </div>
            </div>

            <%- include('./partials/footer')%>


    </body>

    </html>