<%- include('./partials/head')%>
<body class="productCart">
    <%- include('./partials/header')%>

    <main class="contenido-principal">
        <div class="cart">
            <div class="elemento">
                <div class="caja">
                    <img src="/imagenes/compu.jpg" alt="">
                    <p>Notebook Lenovo V15 15.6" Intel I5 1035G1 4GB Ram 1TB HDD FREEDOS</p>
                    <div class="cantidad">
                        <input type="number" name="cantidad" min="1" max="10" step="1">
                    </div>
                    <p class="precio">$1000</p>
                    <i class="fas fa-trash-alt"></i>
                </div>
                
            <hr>

            <div class="caja">
                <img src="/imagenes/Televisores/Tele3-Vista2.jpg" width=" 100px">
                <P>Televisor Smart TV de 30" con Sistema Oprativo y Control Remoto con Voz</p>
            <div class="cantidad">
                <input type="number" name="cantidad" min="1" max="10" step="1">
            </div>
            <p class="precio">$1000</p>
            <i class="fas fa-trash-alt"></i>
            </div>
        </div>


        <div class="resumen">
            <h5>RESUMEN DEL PEDIDO</h5>
            <div class="pedido"><p>TOTAL:<span>$0</span></p></div>

            <select id="opciones">
              <option value="" disabled selected>-- Cupón de descuento --</option>
              <option value="10 ">10%</option>
              <option value="20 ">20%</option>
              <option value="25 ">25%</option>
              <option value="30 ">30%</option>
              <option value="35 ">35%</option>
              <option value="40 ">40%</option>
            </select>

            <section class="modal ">
                <div class="modal__container">
                    <h2 class="modal__tittle">¡Compra Realizada!</h2>
                    <p class="modal__paragraph">Gracias por comprar, no te olvides de seguir revisando nuestra página para encontrar más productos de tu interes.</p>
                    <a href="#" class="modal__close">LISTO</a>
                </div>
            </section>
            </div>
        </div>