<!-- <div class="modal-container" id="modal_container">
    <div class="modalDelete">



        <div class="buttonsDeleteContainer">
            <form id="productDeleteForm" method="POST"><button type="submit" id="close" class="buttonModalDelete">SI</button></form>
            <button id="cancel" class="buttonModalDelete">CANCELAR</button>
        </div>
    </div>
</div> -->