<footer>
    <div class="footer">
        <div class="list-container">
            <div class="list">
                <h4>INFORMACIÓN
                    <h4>
                        <ul class="info">
                            <li>Políticas de garantía</li>
                            <li>Servicio al cliente</li>
                            <li>Envíos</li>
                            <li>preguntas frecuentes</li>
                        </ul>
            </div>
            <div class="list">
                <h4>NOSOTROS
                    <h4>
                        <ul class="info">
                            <li>Sobre nosotros</li>
                            <li>Políticas de uso</li>
                            <li>Cómo comprar</li>
                            <li>Preguntas frecuentes</li>

                        </ul>
            </div>
            <div class="list">
                <h4>CONTACTO
                    <h4>
                        <ul class="info">
                            <li>Contáctenos</li>
                            <li>(+54)1122334455</li>
                            <li>Instagram</li>
                            <li>Facebook</li>

                        </ul>
            </div>
        </div>

        <div class="footer-icon-container ">
            <label for=" " class="logo "><h1 class="neonText ">Neo tech</h1></label>
            <img src="/imagenes/iconos/facebook1.svg " alt=" " class="footer-icon ">
            <img src="/imagenes/iconos/instagram.svg " alt=" " class="footer-icon ">
            <img src="/imagenes/iconos/whatsapp.svg " alt=" " class="footer-icon ">
            <img src="/imagenes/iconos/twitter-logo-2-1.png " alt=" " class="footer-icon ">
        </div>
    </div>
</footer>