<nav class="prueba">
    <div class="menu-top2">
        <div class="menu-top ">
            <div for=" " class="logo ">
                <a href="/">
                    <h1 class="neonText "> Neo tech</h1>
                </a>

            </div>
            <div class="search">
                <form class="form_header" action="/search" method="GET">
                    <input type="text" id="search-bar" class="search-bar" name="search" placeHolder="Buscar productos, marcas, categorías... ">
                    <button class="search-icon">
                        <i class="fas fa-search bus"></i>
                    </button>

                </form>
            </div>
            <span class="arrowSearch"><i class="fas fa-arrow-left"></i></span>
            <span class="btn-menu">
                  
                <i class="fa fa-bars"></i>
            </span>
            <div class="iconSearchMobile">
                <i class="fas fa-search bus" id="iconooo" class="iconoo"></i>
            </div>

            <div class="iconos"> <a href="/user/productCart " class="no-res "><i class="fas fa-shopping-cart uno"></i></a>
                <div class="user-container">
                    <span class="user-containe"> <i class="far fa-user dos "><%if(typeof session.user != "undefined"){%><span class="session"></span>
                    <%}%>
                        </i>
                        </span>
                        <ul class="list">
                            <%if(typeof session.user != "undefined"){%>
                                <li class="item-list"><a href="/user/profile/<%- session.user.id%>">Mi cuenta</a></li>
                                <li class="item-list"><a href="/user/logout"> Cerrar session</a></li>
                                <%if(session.user.rol === 0){%>
                                    <li class="item-list"><a href="/admin/products"> Productos</a></li>
                                    <%}%>
                                        <%}else{%>
                                            <li class="item-list"><a href="/user/register">Ingresar</a> </li>
                                            <li class="item-list"><a href="/user/register">Registrarse</a> </li>
                                            <%}%>
                        </ul>
                </div>

            </div>

        </div>

    </div>
    </div>
    <div class="menu-bottom">
        <ul class="menu-items">
            <div class="logUserMobile">
                <div class="logUserPhotoContainer">
                    <div class="logUserPhoto">
                        <img src="/imagenes/userAvatars/<%- session.user ? session.user.avatar : 'userDefaultPhoto.jpg' %>" alt="">
                    </div>
                    <p>Bienvenido
                        <%- session.user ? session.user.firstName : '' %>
                    </p>

                </div>
                <p class="logUserText">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi, eos.</p>
                <div class="redicLog">
                    <a href="/user/register">
                        <p>Ingresar a mi cuenta</p>
                    </a>

                </div>
            </div>
            <li class="active">
                <a href="/ " class="menu-bottom-items">Inicio</a>
            </li>
            <li>
                <a href="/allProducts" class="menu-bottom-items">Productos</a>
            </li>
            <li>
                <a href="/formas-de-pago " class="menu-bottom-items"> Formas de pago</a>
            </li>
            <li>
                <a href="/user/categorias " class="menu-bottom-items">Todas las Categorias</a>
            </li>

        </ul>

    </div>

    <div id="bar-arcoiris">
        <h1>. </h1>
    </div>

</nav>
<script src="/js/banners.js"></script>
<script src="/header.js"></script>