<nav class="prueba">
    <div class="menu-top ">
        <div for=" " class="logo ">
            <a href="/">
                <h1 class="neonText "> Neo tech</h1>
            </a>

        </div>
        <div class="search ">
            <form class="form_header" action="/search" method="GET">
                <input type="text" class=" search-bar" name="search" placeHolder="Buscar productos, marcas, categorías... ">
            </form>
            <div class=" search-icon ">
                <a href="# "> <i class="fas fa-search bus "></i></a>
            </div>

            <span class="btn-menu ">
                <i class="fa fa-bars "></i>
            </span>
        </div>
        <div class="iconos "> <a href="/user/productCart " class="no-res "><i class="fas fa-shopping-cart uno "></i></a>

            <div class="user-container"><i class="far fa-user dos "></i>
                <ul class="list">

                    <%if(typeof session.user != "undefined"){%>

                        <li class="item-list"><a href="/user/profile/<%- session.user.id%>">Mi cuenta</a></li>
                        <li class="item-list"><a href="/user/logout"> Cerrar session</a></li>
                        <%console.log(session.user)%>
                            <%if(session.user.rol === "admin_user"){%>
                                <li class="item-list"><a href="/admin/products"> Productos</a></li>
                                <%}%>
                                    <%}else{%>
                                        <li class="item-list"><a href="/user/register">Ingresar</a> </li>
                                        <li class="item-list"><a href="/user/register">Registrarse</a> </li>
                                        <%}%>
                </ul>
            </div>
        </div>

    </div>
    </div>
    <div class="menu-bottom ">
        <ul class="menu-items ">
            <li class="active ">
                <a href="/ ">Inicio</a>
            </li>
            <li>
                <a href="/user/categorias ">Ofertas</a>
            </li>
            <li>
                <a href="/formas-de-pago "> Formas de pago</a>
            </li>
            <li>
                <a href="/user/categorias ">Todas las Categorias</a>
            </li>

        </ul>

    </div>

    <div id="bar-arcoiris">
        <h1>. </h1>
    </div>

</nav>
<script src="/header.js"></script>