<nav class="prueba">
    <div class="menu-top ">
        <div for=" " class="logo ">
            <a href="/">
                <h1 class="neonText "> Neo tech</h1>
            </a>

        </div>
        <div class="search ">
            <input type="text" class=" search-bar" placeHolder="Buscar productos, marcas, categorías... ">
            <div class=" search-icon ">
                <a href="# "> <i class="fas fa-search bus "></i></a>
            </div>
            <span class="btn-menu ">
                <i class="fa fa-bars "></i>
            </span>
        </div>
        <div class="iconos "> <a href="/productCart " class="no-res "><i class="fas fa-shopping-cart uno "></i></a>

            <a href="/register " class="no-res1 "><i class="far fa-user dos "></i></a></div>

    </div>
    </div>
    <div class="menu-bottom ">
        <ul class="menu-items ">
            <li class="active ">
                <a href="/ ">inicio</a>
            </li>
            <li>
                <a href="/categorias ">ofertas</a>
            </li>
            <li>
                <a href="/formas-de-pago "> formas de pago</a>
            </li>
            <li>
                <a href="/categorias ">todas las Categorias</a>
            </li>

        </ul>

    </div>

    <div id="bar-arcoiris">
        <h1>. </h1>
    </div>

</nav>