<%- include('../partials/head')%>

    <body class="body-AL">
        <!----------------------------------------------------->
        <%- include('../partials/header')%>
            <!------------------------------------------------------->

            <main class="admin-login">
            <form class="form_adm_log">
                <h4 class="h4_AL">Iniciar sesi칩n</h4>

                <div class="contenedor__AL">
                    <div class="input-contenedor_al">
                        <i class="fas fa-envelope icon_login"></i>
                        <input class="inp-email" type="e-mail" placeholder="Correo electr칩nico">
                    </div>

                    <div class="input-contenedor_al">
                        <i class="fas fa-key icon_login"></i>
                        <input class="inp-pas" type="password" placeholder="Contrase침a">
                    </div>

                    <div class="btn_ad_lg">
                        <input type="submit" value="Iniciar sesi칩n" class="button_ad_lg">
                    </div>

                </div>
            </form>

        </main>


            <%- include('../partials/footer')%>

    </body>
    </html>